In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\vamshi krishna\Desktop\spam.csv")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
spam = pd.get_dummies(df["Category"], drop_first=True)
spam.head()

   spam
0     0
1     0
2     1
3     0
4     0

In [4]:
df = pd.concat([df, spam], axis=1)
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.Message, df.spam, test_size=0.3, random_state=1)

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_vector = v.fit_transform(X_train)

In [9]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_vector, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [23]:
email = ['Get upto 50% off']
email_vector = v.transform(email)
model.predict(email_vector)

array([1], dtype=uint8)

In [13]:
np.shape(df)

(5572, 3)

In [16]:
X_test_vector = v.transform(X_test)

In [17]:
model.score(X_test_vector, y_test)

0.9868421052631579